{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags menus_tags %}




<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
        <!-- Primary Meta Tags -->

        <meta name="title" content="Hugo Thai Fusion">
        <meta name="description" content="A joyous eatery inspired by the culture of Thai cuisine">

       

        {# Global stylesheets #}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/caza_demo_1.css' %}"> -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-dropdownhover.min.css' %}">
        <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css"  media="all" />
        <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css"  media="all" />
        <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css"  media="all" />
        <link href="https://fonts.googleapis.com/css?family=Lustria" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <!-- Preloader -->
    <div class="loader">
            <!-- Preloader inner -->
            <div class="loader-inner">
               <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle class="spinner" cx="50" cy="50" r="21" fill="#ffffff" stroke-width="3"/>
               </svg>
            </div>
            <!-- End preloader inner -->
    </div>
         <!-- End preloader-->
       
        <div class="wrapper">
               
        {% block content %}{% endblock %}

        <!--Footer-->
        <footer class="footer bg-dark spacer-one-top-md spacer-one-bottom-xs">
                <svg class="footer-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none" width="100%" height="100">
                   <path d="M0 100 C40 0 60 0 100 100 Z"></path>
                </svg>
                <!--Container-->
                <div class="container space-top-2 space-bottom-1">
                   <!--row-->
                   <div class="row justify-content-lg-start mb-5">
                      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
                         <a class="d-inline-block mb-3 footer-logo" href="#">
                                {% image settings.site_settings.BrandingSettings.logo_image_white fill-100x100 as img %}
                         <img src="{{ img.url }}" alt="">
                         </a>
                         <p class="font-size-14 ">{{ settings.site_settings.BrandingSettings.footer_text }}</p>
                         
                      </div>
                      <div class="col-lg-3 col-sm-6 mb-4">
                         <h3 class="h6 text-white mb-3  font-size-15">Address</h3>
                         <address>
                            <ul class="list-group list-group-flush list-group-borderless mb-0">
                               <li class="list-group-item">{{ settings.site_settings.BrandingSettings.phone }}</li>
                               <li class="list-group-item">
                                  <a href="{{ settings.site_settings.BrandingSettings.email }}">{{ settings.site_settings.BrandingSettings.email }}</a>
                               </li>
                               <li class="list-group-item">{{ settings.site_settings.BrandingSettings.address }}</li>
                            </ul>
                         </address>
                      </div>
                      <div class=" col-lg-3 col-sm-6 mb-4">
                         <h3 class="h6 text-white mb-3  font-size-15">Hours of opening</h3>
                         <div class="opening-hours-container font-size-14 ">
                            <span class="opening-hours-holder-inner">
                            <span class="opening-hours-day-holder">
                            <span class="opening-hours-day">Monday</span>
                            </span>
                            <span class="opening-hours-line"></span>
                            <span class="opening-hours-time">{{ settings.site_settings.BrandingSettings.hour_monday }}</span>
                            </span>
                         </div>
                         <div class="opening-hours-container font-size-14 ">
                            <span class="opening-hours-holder-inner">
                            <span class="opening-hours-day-holder">
                            <span class="opening-hours-day">Tuesday</span>
                            </span>
                            <span class="opening-hours-line"></span>
                            <span class="opening-hours-time">{{ settings.site_settings.BrandingSettings.hour_tuesday }}</span>
                            </span>
                         </div>
                         <div class="opening-hours-container font-size-14 ">
                            <span class="opening-hours-holder-inner">
                            <span class="opening-hours-day-holder">
                            <span class="opening-hours-day">Wednesday</span>
                            </span>
                            <span class="opening-hours-line"></span>
                            <span class="opening-hours-time">{{ settings.site_settings.BrandingSettings.hour_wednesday }}</span>
                            </span>
                         </div>
                         <div class="opening-hours-container font-size-14 ">
                            <span class="opening-hours-holder-inner">
                            <span class="opening-hours-day-holder">
                            <span class="opening-hours-day">Thursday</span>
                            </span>
                            <span class="opening-hours-line"></span>
                            <span class="opening-hours-time">{{ settings.site_settings.BrandingSettings.hour_thursday }}</span>
                            </span>
                         </div>
                         <div class="opening-hours-container font-size-14 ">
                            <span class="opening-hours-holder-inner">
                            <span class="opening-hours-day-holder">
                            <span class="opening-hours-day">Friday</span>
                            </span>
                            <span class="opening-hours-line"></span>
                            <span class="opening-hours-time">{{ settings.site_settings.BrandingSettings.hour_friday }}</span>
                            </span>
                         </div>
                         <div class="opening-hours-container font-size-14 ">
                            <span class="opening-hours-holder-inner">
                            <span class="opening-hours-day-holder">
                            <span class="opening-hours-day">Saturday</span>
                            </span>
                            <span class="opening-hours-line"></span>
                            <span class="opening-hours-time">{{ settings.site_settings.BrandingSettings.hour_saturday }}</span>
                            </span>
                         </div>
                         <div class="opening-hours-container font-size-14 ">
                            <span class="opening-hours-holder-inner">
                            <span class="opening-hours-day-holder">
                            <span class="opening-hours-day">Sunday</span>
                            </span>
                            <span class="opening-hours-line"></span>
                            <span class="opening-hours-time">{{ settings.site_settings.BrandingSettings.hour_sunday }}</span>
                            </span>
                         </div>
                      </div>
                      
                   <!--End row-->
                   <!--row-->
                   <div class="row align-items-center">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                         <ul class="list-inline mb-0">
                                {% if settings.site_settings.SocialMediaSettings.facebook %}
                            <li class="list-inline-item mb-2 mb-lg-0 mr-1"><a class="social-icon" href="{{ settings.site_settings.SocialMediaSettings.facebook }}" rel="noopener noreferrer" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                            {% endif %}
                                {% if settings.site_settings.SocialMediaSettings.twitter %}
                            <li class="list-inline-item mr-1"><a class="social-icon " href="{{ settings.site_settings.SocialMediaSettings.twitter }}" rel="noopener noreferrer" target="_blank"><span class="fab fa-twitter"></span></a></li>
                            {% endif %}
                            {% if settings.site_settings.SocialMediaSettings.instagram %}
                            <li class="list-inline-item"><a class="social-icon " href="{{ settings.site_settings.SocialMediaSettings.instagram }}" rel="noopener noreferrer" target="_blank"><span class="fab fa-instagram"></span></a></li>
                            {% endif %}
                            {% if settings.site_settings.SocialMediaSettings.youtube %}
                            <li class="list-inline-item"><a class="social-icon " href="{{ settings.site_settings.SocialMediaSettings.youtube }}" rel="noopener noreferrer" target="_blank"><span class="fab fa-youtube"></span></a></li>
                            {% endif %}
                         </ul>
                      </div>
                      <div class="col-sm-9 text-sm-right">
                            {% if settings.site_settings.BrandingSettings.license_reserve %}
                         <p class="small  text-secondary  mb-0">&copy; {{ settings.site_settings.BrandingSettings.license_reserve }}</p>
                         {% endif %}
                      </div>
                   </div>
                   <!--End row-->
                </div>
                </div>
                <!--End container-->
             </footer>
             <!--End footer-->
             <!--To the top-->
             <a class="scroll-to-top scroll" href="#wrapper"><span class=" fas fa-arrow-up top-icon "></span></a>  
             <!-- End to the top -->
        </div>
        {# Global javascript #}
        <!-- <script type="text/javascript" src="{% static 'js/caza_demo_1.js' %}"></script> -->
        <script src="{% static 'js/jquery-1.12.4.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-dropdownhover.min.js' %}"></script>
        <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
        <script src="{% static 'js/smooth-scroll.js' %}" ></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}" ></script>
        <!-- <script src="{% static 'js/instafeed.min.js' %}"></script> -->
        <script src="{% static 'js/placeholders.min.js' %}"></script>
        <script src="{% static 'js/jarallax.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140665626-2"></script>
         <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-140665626-2');
         </script>

    </body>
</html>
