{% load wagtailcore_tags wagtailimages_tags  %}
{% load static %}
{% block content %}

<!--Menu section-->
<section id="special"  class="spacer-double-lg">
        <!--Container-->
        <div class="container">
           <!--Row-->
           <div class="row justify-content-center">
              <div class="col">
                 <div class="mb-5 pb-5 text-center">
                    <span class="label-title mb-3">{{ self.label }}</span>
                    <h1 class="h2 font-alt">{{ self.title }}</h1>
                    <p class="w-md-40 mb-0 mx-auto lead">{{ self.subtitle }}</p>
                 </div>
              </div>
           </div>
           <!--End row-->
        </div>
        <!--End container-->
        <!--Container-->
        <div class="container">
           <!--row-->
           <div class="row no-gutters text-center shadow-lg">
              <div class="col-12 col-lg-6 ">
                 <div class="special position-relative w-100 bg-white">
                    <div class="row no-gutters align-items-center">
                       <div class="col-12 col-md-6 d-flex">
                          <div class="special-inner position-relative w-100">
                             <h3 class="h5 font-weight-700 letter-spacing-small">{{ self.menu_title_1 }}</h3>
                             <p>
                                {{ self.menu_subtitle_1 }}
                             </p>
                             <a href="/menu" class="font-size-11-5 text-uppercase font-weight-700 letter-spacing-medium scroll">{{ self.menu_link_text }}</a>
                          </div>
                       </div>
                       <div class="col-12 col-md-6 align-self-md-stretch d-flex">
                          <figure class="special-media">
                                {% image self.menu_image_1 fill-700x533 as img %}
                             <img class="" src="{{ img.url }}" alt="" >
                          </figure>
                       </div>
                    </div>
                 </div>
                 <div class="special position-relative w-100 bg-white">
                    <div class="row flex-md-row-reverse no-gutters align-items-center">
                       <div class="col-12 col-md-6 d-flex">
                          <div class="special-inner position-relative w-100">
                             <h3 class="h5  font-weight-700 letter-spacing-small">{{ self.menu_title_2 }}</h3>
                             <p>
                                {{ self.menu_subtitle_2 }}
                             </p>
                             <a href="/menu" class="font-size-11-5 text-uppercase font-weight-700 letter-spacing-medium scroll">{{ self.menu_link_text }}</a>
                          </div>
                       </div>
                       <div class="col-12 col-md-6 align-self-md-stretch d-flex">
                          <figure class="special-media">
                                {% image self.menu_image_2 fill-700x533 as img %}
                             <img class="" src="{{ img.url }}" alt="" >
                          </figure>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-12 col-lg-6 ">
                 <div class="special position-relative w-100 bg-white">
                    <div class="row no-gutters align-items-center d-flex">
                       <div class="col-12 col-md-6 d-flex">
                          <div class="special-inner position-relative w-100">
                             <h3 class="h5  font-weight-700 letter-spacing-small">{{ self.menu_title_3 }}</h3>
                             <p>
                                {{ self.menu_subtitle_3 }}
                             </p>
                             <a href="/menu" class="font-size-11-5 text-uppercase font-weight-700 letter-spacing-medium scroll">{{ self.menu_link_text }}</a>
                          </div>
                       </div>
                       <div class="col-12 col-md-6 align-self-md-stretch d-flex">
                          <figure class="special-media">
                                {% image self.menu_image_3 fill-700x533 as img %}
                             <img class="" src="{{ img.url }}" alt="" >
                          </figure>
                       </div>
                    </div>
                 </div>
                 <div class="special position-relative w-100 bg-white">
                    <div class="row flex-md-row-reverse no-gutters align-items-center d-flex">
                       <div class="col-12 col-md-6">
                          <div class="special-inner  position-relative w-100">
                             <h3 class="h5 font-weight-700 letter-spacing-small">{{ self.menu_title_4 }}</h3>
                             <p>
                                {{ self.menu_subtitle_4 }}
                             </p>
                             <a href="/menu" class="font-size-11-5 text-uppercase font-weight-700 letter-spacing-medium scroll">{{ self.menu_link_text }}</a>
                          </div>
                       </div>
                       <div class="col-12 col-md-6 align-self-md-stretch d-flex">
                          <figure class="special-media">
                                {% image self.menu_image_4 fill-700x533 as img %}
                             <img class="" src="{{ img.url }}" alt="" >
                          </figure>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!--End row-->
        </div>
        <!--End container-->
     </section>
     <!--End Menu section-->

{% endblock %}