{% load wagtailcore_tags wagtailimages_tags  %}
{% load static %}
{% block content %}

<!--About section-->
<section id="about"  class="spacer-double-lg">
        <!--Container-->
        <div class="container">
           <!--row-->
           <div class="row justify-content-between align-items-center">
              <div class="col-lg-5 mb-6 mb-lg-0">
                 <span class="label-title mb-3">{{ self.label }}</span>
                 <h2 class="h3 font-alt mb-3">{{ self.title }}</h2>
                 {{ self.subtitle }}
                 <div class="media align-items-center">
                        {% image self.image_chef fill-300x300 as img %}
                    <img class="avatar-md rounded-circle mr-3" src="{{ img.url }}" alt="">
                    <div class="media-body">
                       <h4 class="h6  mb-0">{{ self.chef_name }}</h4>
                       <p class="mb-0">{{ self.chef_position }}</p>
                    </div>
                 </div>
              </div>
              <div class="col-lg-6">
                 <div class="position-relative">
                    <div class="row card-gutters">
                       <div class="col-sm-6 offset-sm-1 mb-2">
                            {% image self.image_1 fill-700x700 as img %}
                          <a class="hover-effect  popup-image" href="{{ img.url }}" >
                          <img class="img-fluid w-100" src="{{ img.url }}" alt="">
                          <span class="hover-effect-container">
                          <span class="hover-effect-icon">
                          <span class="fa fa-plus hover-effect-icon-inner"></span>
                          </span>
                          </span>
                          </a>
                       </div>
                       <div class="col-sm-5 align-self-end mb-2">
                            {% image self.image_2 fill-380x360 as img %}
                          <a class="hover-effect  popup-image" href="{{ img.url }}" >
                          <img class="img-fluid w-100" src="{{ img.url }}" alt="">
                          <span class="hover-effect-container">
                          <span class="hover-effect-icon">
                          <span class="fa fa-plus hover-effect-icon-inner"></span>
                          </span>
                          </span>
                          </a>
                       </div>
                       <div class="col-sm-5 mb-2">
                            {% image self.image_3 fill-380x360 as img %}
                          <a class="hover-effect  popup-image" href="{{ img.url }}" >
                          <img class="img-fluid w-100" src="{{ img.url }}" alt="">
                          <span class="hover-effect-container">
                          <span class="hover-effect-icon">
                          <span class="fa fa-plus hover-effect-icon-inner"></span>
                          </span>
                          </span>
                          </a>
                       </div>
                       <div class="col-sm-6 mb-2">
                            {% image self.image_4 fill-700x700 as img %}
                          <a class="hover-effect  popup-image" href="{{ img.url }}">
                          <img class="img-fluid w-100" src="{{ img.url }}" alt="">
                          <span class="hover-effect-container">
                          <span class="hover-effect-icon">
                          <span class="fa fa-plus hover-effect-icon-inner"></span>
                          </span>
                          </span>
                          </a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!--End row-->
        </div>
        <!--End container-->
     </section>
     <!--End about section-->

{% endblock %}