{% load wagtailcore_tags wagtailimages_tags  %}
{% load static %}
{% block content %}

<!--Review section-->
<section class="spacer-lg jarallax gradient-overlay gradient-overlay-dark">
        {% image self.bg_image fill-1920x1100 as img %}
        <img class="jarallax-img" src="{{ img.url }}" alt="">
        <!--Container-->
        <div class="container">
           <!--Row-->
           <div class="row justify-content-center text-center">
              <div class="col-md-8 col-lg-6">
                 <div class="review-slider flexslider">
                    <ul class="slides">
                        {% for card in self.cards %}
                       <li>

                          <div class="bg-dark p-4">
                             <div class="border-light p-5">
                                <h4 class="h6 text-white font-alt text-uppercase">{{ card.card_title }}</h4>
                                <p class="text-light">"{{ card.card_subtitle }}"</p>
                                <div class="d-flex justify-content-center">
                                    {% for n in n|rjust:card.star %}
                                    
                                   <i class="fa fa-star  text-light-green mr-1"></i>
                                   
                                   {% endfor %}
                                </div>

                             </div>
                          </div>
                       </li>
                       {% endfor %}
                    </ul>
                 </div>
              </div>
           </div>
           <!--End row-->
        </div>
        <!--End container-->
</section>
     <!--End review section-->

{% endblock %}