{% load wagtailcore_tags wagtailimages_tags  %}
{% load static %}
{% block content %}
<!--Hero section-->

<section class="spacer-xlg-alt jarallax gradient-overlay gradient-overlay-dark"  >
    
        {% image self.categories_image fill-1900x1200 as img %}
        <img class="jarallax-img" src="{{ img.url }}" alt="">
        <!--Container-->
        <div class="container">
           <!--Row-->
           <div class="row justify-content-center">
              <div class="col">
                 <div class=" text-center">
                    <h1 class="display-4 font-alt text-white mb-0">{{ self.categories_title}}</h1>
                 </div>
              </div>
           </div>
           <!--End row-->
        </div>
        <!--End container-->
        <svg class="hero-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none" width="100%" height="100">
           <path d="M0 100 C40 0 60 0 100 100 Z"></path>
        </svg>
     </section>
     <!--End hero section-->
     <!--Menu section-->
     <section class="  spacer-one-bottom-lg spacer-one-top-md">
        <!--Container-->
        <div class="container">
           <!--Row-->
           <div class="row justify-content-around align-items-center">
              <div class="col-md-8 col-lg-7 ">
                  {% for menu in self.menu_lists %}
                       <div class="media align-items-center mb-4 ">
                            {% image menu.list_image fill-48x48 as img %}
                          <img class="avatar-sm rounded-circle mr-3" src="{{ img.url }}" alt="">
                          <div class="media-body position-relative">
                             <h6 class="mb-0 position-relative  z-index-2 font-size-15"><span class="bg-white">{{ menu.list_title }}  </span></h6>
                             <span class="dots-price"></span>
                             <span class="menu-price mb-0 h6">${{ menu.list_price }}</span>
                             <p class="mb-0 font-size-14">{{ menu.list_subtitle }}</p>
                          </div>
                       </div>
                    {% endfor %}
                       
                       
                       
                       
                    </div>
                    
           </div>
           <!--End row-->
        </div>
        <!--End container-->
     </section>
     <!--End menu section-->
{% endblock %}