{% load wagtailcore_tags wagtailimages_tags  %}
{% load static %}
{% block content %}

<!--Services section-->
<section class=" spacer-double-lg">
        <!--Container-->
        <div class="container">
           <!--Row-->
           <div class="row justify-content-center">
              <div class="col">
                 <div class="mb-5 pb-5 text-center">
                    <span class="label-title mb-3">{{ self.label }}</span>
                    <h1 class="h2 font-alt">{{ self.title }}</h1>
                    <p class="w-md-40 mb-0 mx-auto lead">{{ self.subtitle }}</p>
                 </div>
              </div>
           </div>
           <!--End row-->
        </div>
        <!--End container-->
        <!--Container-->
        <div class="container">
           <!--row-->
           <div class="row d-block d-flex">
              <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                 <div class="text-center card mb-5 border-0">
                    <div class="card-body p-0">
                            {% image self.service_image_1 fill-40x40 as img %}
                       <img class="max-width-sm mb-3" src="{{ img.url }}" alt="">
                       <div>
                          <h4 class="h6 mb-2">{{ self.service_title_1 }}</h4>
                          <p class="mb-0">{{ self.service_subtitle_1}}</p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-6 col-lg-3 mb-5 mb-lg-0">
                 <div class="text-center card mb-5 border-0">
                    <div class="card-body p-0">
                            {% image self.service_image_2 fill-40x40 as img %}
                       <img class="max-width-sm mb-3" src="{{ img.url }}" alt="">
                       <div>
                          <h4 class="h6 mb-2">{{ self.service_title_2 }}</h4>
                          <p class="mb-0">{{ self.service_subtitle_2}}</p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-6 col-lg-3 ">
                 <div class="text-center card mb-5 border-0">
                    <div class="card-body p-0">
                            {% image self.service_image_3 fill-40x40 as img %}
                       <img class="max-width-sm mb-3" src="{{ img.url }}" alt="">
                       <div>
                          <h4 class="h6 mb-2">{{ self.service_title_3 }}</h4>
                          <p class="mb-0">{{ self.service_subtitle_3}}</p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-6 col-lg-3 ">
                 <div class="text-center card mb-5 border-0">
                    <div class="card-body p-0">
                            {% image self.service_image_4 fill-40x40 as img %}
                       <img class="max-width-sm mb-3" src="{{ img.url }}" alt="">
                       <div>
                          <h4 class="h6 mb-2">{{ self.service_title_4 }}</h4>
                          <p class="mb-0">{{ self.service_subtitle_4}}</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!--End row-->
           <!--Row-->
           <div class="row">
              <div class="col-md-6 m-auto">
                 <div class="mt-3 pt-3 mb-3 pb-3 ">
                    <div class="divider-border m-auto"></div>
                 </div>
                 <p class="text-center mb-0">{{ self.ps_text }}</p>
              </div>
           </div>
           <!--End row-->
        </div>
        <!--End container-->
     </section>
     <!--End services section-->
 
{% endblock %}