{% load wagtailcore_tags wagtailimages_tags  %}
{% load static %}
{% block content %}

<!--Short reservation section-->
<section class="no-gutters">
        <!--Container-->
        <div class="container-fluid">
           <!--row-->
           <div class="row ">
              <div class="col-lg-6 bg-secondary ">
                 <div class="reservation-card p-4 h-100">
                    <div class="reservation-card-container p-6">
                       <div class="reservation-card-inner p-sm-6">
                            
                          <img src="{% static 'assets/svg/serving-dish.svg' %}" alt="" class="max-width-lg mb-3">
                          <h1 class="h2 font-alt">{{ self.title }}</h1>
                          <p class="lead">{{ self.subtitle }} </p>
                          <a href="#reservation" class="btn btn-dark btn-primary btn-wide scroll">{{ self.button_text }}</a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-lg-6">
                 <div class="pl-lg-2">
                        {% image self.image_side fill-1600x750 as img %}
                    <img src="{{ img.url }}" alt="Image">
                 </div>
              </div>
           </div>
           <!--End row-->
        </div>
        <!--End container-->
     </section>
     <!--End short reservation section-->

{% endblock %}