{% load wagtailcore_tags wagtailimages_tags  %}
{% load static %}
{% block content %}

<!--Gallery section-->
<section id="gallery" class="bg-secondary spacer-double-lg">
        <!--Container-->
        <div class="container">
           <!--Row-->
           <div class="row card-gutters">
              <div class="col-sm-6 col-lg-3 mb-2  ">
                 <div class="grid-item card border-0">
                        {% image self.gallery_image_1 fill-700x700 as img %}
                    <a href="{{ img.url }}" class="hover-effect mb-0 popup-image ">
                    <img class="card-img" src="{{ img.url }}" alt="">
                    <span class="hover-effect-container">
                    <span class="hover-effect-icon">
                    <span class="fa fa-plus hover-effect-icon-inner"></span>
                    </span>
                    </span>
                    </a>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3 mb-2  ">
                 <div class="grid-item  card border-0">
                        {% image self.gallery_image_6 fill-700x700 as img %}
                    <a href="{{ img.url }}" class="   hover-effect mb-0 popup-image ">
                    <img class="card-img" src="{{ img.url }}" alt="">
                    <span class="hover-effect-container">
                    <span class="hover-effect-icon">
                    <span class="fa fa-plus hover-effect-icon-inner"></span>
                    </span>
                    </span>
                    </a>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3 mb-2  ">
                 <div class="grid-item  card border-0">
                        {% image self.gallery_image_3 fill-700x700 as img %}
                    <a href="{{ img.url }}" class="   hover-effect mb-0 popup-image ">
                    <img class="card-img" src="{{ img.url }}" alt="">
                    <span class="hover-effect-container">
                    <span class="hover-effect-icon">
                    <span class="fa fa-plus hover-effect-icon-inner"></span>
                    </span>
                    </span>
                    </a>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3 mb-2  ">
                 <div class="grid-item  card border-0">
                        {% image self.gallery_image_4 fill-700x700 as img %}
                    <a href="{{ img.url }}" class="   hover-effect mb-0 popup-image ">
                    <img class="card-img" src="{{ img.url }}" alt="">
                    <span class="hover-effect-container">
                    <span class="hover-effect-icon">
                    <span class="fa fa-plus hover-effect-icon-inner"></span>
                    </span>
                    </span>
                    </a>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3 mb-2 mb-lg-0  ">
                 <div class="grid-item  card border-0">
                        {% image self.gallery_image_5 fill-700x700 as img %}
                    <a href="{{ img.url }}" class="   hover-effect  mb-0 popup-image ">
                    <img class="card-img" src="{{ img.url }}" alt="">
                    <span class="hover-effect-container">
                    <span class="hover-effect-icon">
                    <span class="fa fa-plus hover-effect-icon-inner"></span>
                    </span>
                    </span>
                    </a>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3 mb-2  mb-lg-0">
                 <div class="grid-item  card border-0">
                        {% image self.gallery_image_2 fill-700x700 as img %}
                    <a href="{{ img.url }}" class="   hover-effect  mb-0 popup-image ">
                    <img class="card-img" src="{{ img.url }}" alt="">
                    <span class="hover-effect-container">
                    <span class="hover-effect-icon">
                    <span class="fa fa-plus hover-effect-icon-inner"></span>
                    </span>
                    </span>
                    </a>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3 mb-2 mb-lg-0 ">
                 <div class="grid-item  card border-0">
                        {% image self.gallery_image_7 fill-700x700 as img %}
                    <a href="{{ img.url }}" class="   hover-effect mb-0 popup-image ">
                    <img class="card-img" src="{{ img.url }}" alt="">
                    <span class="hover-effect-container">
                    <span class="hover-effect-icon">
                    <span class="fa fa-plus hover-effect-icon-inner"></span>
                    </span>
                    </span>
                    </a>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-3   ">
                 <div class="grid-item graphic card border-0">
                        {% image self.gallery_image_8 fill-700x700 as img %}
                    <a href="{{ img.url }}" class="   hover-effect mb-0 popup-image ">
                    <img class="card-img" src="{{ img.url }}" alt="">
                    <span class="hover-effect-container">
                    <span class="hover-effect-icon">
                    <span class="fa fa-plus hover-effect-icon-inner"></span>
                    </span>
                    </span>
                    </a>
                 </div>
              </div>
           </div>
           <!--End row-->
           
        </div>
        <!--End container-->
     </section>
     <!--End gallery section-->

{% endblock %}