{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags menus_tags %}

{% block content %}
{% get_menu "menu" as navigation %}
<header class="header default">
        <div class="header-section">
           <!--Container-->
           <div class="container-fluid ">
              <nav class="navbar navbar-expand-lg header-navbar ">
                 <a class=" navbar-brand navbar-logo scroll" href="#wrapper">
                {% image settings.site_settings.BrandingSettings.logo_image_white fill-70x70 as img %}
                 <img class="mb-0 logo-light" src="{{ img.url }}" alt="">
                 {% image settings.site_settings.BrandingSettings.logo_image_color fill-70x70 as img %}
                 <img class="mb-0 logo-dark" src="{{ img.url }}" alt="">
                 </a>
                 <button class="navbar-toggler btn-navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-menu" aria-expanded="true" aria-label="Toggle navigation">
                 <span class="fa fa-bars"></span>
                 </button>
                 <div class="nav-menu collapse navbar-collapse navbar-collapse justify-content-end py-0 ">
                    <ul class=" navbar-nav  header-navbar-nav">
                        
                        {% for item in navigation.menu_items.all %}
                       <li><a class=" nav-link scroll" href="{{ item.link }}" {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }} </a></li>
                       {% endfor %}
                       <li class="ml-lg-auto"><a class=" nav-link nav-divider scroll" href="#reservation">
                          <img src="{% static 'assets/svg/ring-bell-light.svg' %}" alt="" class="max-width-xsm bell-light">
                          <img src="{% static 'assets/svg/ring-bell-dark.svg' %}" alt="" class="max-width-xsm bell-dark"></a>
                       </li>
                       <li><a class=" nav-link pr-0 pb-sm-4 pb-sm-0" href="index.html"><span class="fa fa-phone mr-3"></span>{{ settings.site_settings.BrandingSettings.phone }}</a></li>
                    </ul>
                 </div>
              </nav>
           </div>
           <!--End container-->
        </div>
     </header>
     <!--End header-->
{% for block in page.content %}
    {% include_block block %}
{% endfor %}

{% endblock %}