{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags menus_tags  %}

{% block content %}
{% get_menu "main" as navigation %}

        <!--Hero section-->
        <section class="hero-section">
            <header class="header default">
                  <div class="header-section">
                     <!--Container-->
                     <div class="container-fluid ">
                        <nav class="navbar navbar-expand-lg header-navbar ">
                           <a class=" navbar-brand navbar-logo scroll" href="#wrapper">
                          {% image settings.site_settings.BrandingSettings.logo_image_white fill-70x70 as img %}
                           <img class="mb-0 logo-light" src="{{ img.url }}" alt="">
                           {% image settings.site_settings.BrandingSettings.logo_image_color fill-70x70 as img %}
                           <img class="mb-0 logo-dark" src="{{ img.url }}" alt="">
                           </a>
                           <button class="navbar-toggler btn-navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-menu" aria-expanded="true" aria-label="Toggle navigation">
                           <span class="fa fa-bars"></span>
                           </button>
                           <div class="nav-menu collapse navbar-collapse navbar-collapse justify-content-end py-0 ">
                              <ul class=" navbar-nav  header-navbar-nav">
                                  
                                  {% for item in navigation.menu_items.all %}
                                 <li><a class=" nav-link scroll" href="{{ item.link }}" {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }} </a></li>
                                 {% endfor %}
                                 <li class="ml-lg-auto"><a class=" nav-link nav-divider scroll" href="#reservation">
                                    <img src="{% static 'assets/svg/ring-bell-light.svg' %}" alt="" class="max-width-xsm bell-light">
                                    <img src="{% static 'assets/svg/ring-bell-dark.svg' %}" alt="" class="max-width-xsm bell-dark"></a>
                                 </li>
                                 <li><a class=" nav-link pr-0 pb-sm-4 pb-sm-0" href="index.html"><span class="fa fa-phone mr-3"></span>{{ settings.site_settings.BrandingSettings.phone }}</a></li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                     <!--End container-->
                  </div>
               </header>
               <!--End header-->

<!--Header-->
           
           <!--Main slider-->
           <div class="main-slider slider flexslider">
              <ul class="slides">
                    {% for loop_cycle in self.carousel_images.all %}
                    {% image loop_cycle.carousel_image fill-1900x1200 as img %}
                 <li>
                    
                    <div class="background-img gradient-overlay gradient-overlay-dark">
                       <img src="{{ img.url }}" alt="">
                    </div>
                 </li>
                 {% endfor %}
              </ul>
           </div>
           <!--End main slider-->
           <div class="inner-hero">
              <!--Container-->
              <div class="container  hero-content">
                 <!--row-->
                 <div class="row justify-content-center text-center">
                    <div class="col-12 col-md-10 col-lg-10">
                       <h1 class="display-4 mb-0 text-white">{{ self.header_title }}</h1>
                       <p class=" text-white text-uppercase font-weight-700 font-size-13 letter-spacing-medium mb-0">
                        {{ self.header_subtitle }}
                        </p>
                    </div>
                 </div>
              </div>
              <!--End row-->
           </div>
           <!--End container-->
           <svg class="hero-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none" width="100%" height="100">
              <path d="M0 100 C40 0 60 0 100 100 Z"></path>
           </svg>
        </section>
        <!--End hero section-->
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}


{% endblock %}